<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tms.mapping.EducationalPageOneMapper">
	<resultMap id="BaseResultMap" type="com.tms.model.EducationalShowOne">
		<result column="classname" jdbcType="VARCHAR" property="classname" />
		<result column="classStuNum" jdbcType="INTEGER" property="classStuNum" />
		<result column="stuTruant" jdbcType="INTEGER" property="stuTruant" />
		<result column="stuAbnormal" jdbcType="INTEGER" property="stuAbnormal" />
		<result column="eduDesciption" jdbcType="VARCHAR" property="eduDesciption" />
		<result column="classActivity" jdbcType="VARCHAR" property="classActivity" />
		<result column="eduTime" jdbcType="VARCHAR" property="eduTime" />
	</resultMap>

	<!-- 根据指定周获取周考统计信息 -->
	<select id="getAllEducationNearest" resultMap="BaseResultMap">
		SELECT tc.className,
		tc.classStuNum,
		te.stuLeaveNum ,
		te.stuTruant,
		te.stuAbnormal,
		te.eduDesciption,
		te.classActivity ,
		CONCAT(tet.educationalYear,'年',tet.educationalMonth,'月 第',tet.educationalDay,'周') AS 'eduTime',
		MAX(tet.educationalTime)
		FROM tb_educational te
		LEFT JOIN tb_educationalTime tet ON te.eduId = tet.eduId
		LEFT JOIN tb_classes tc ON te.classId = tc.classId GROUP BY tc.classId ;
	</select>


	<select id="getAllCount" resultType="java.lang.Integer">
		select
		count(1)
		from tb_classes
	</select>
</mapper>